.courseName {
    font-weight: 700;
    display: block;

    &::before {
        content: "";
        width:20px;
        height:20px;
        background-image: url('../../../public/svgComponents/purpleArrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        float: left;
        margin-right: 5px;
    }
}

.courseTime {
    margin-left: 1.3rem;
    margin-top: 0.3rem;
    
    &::before {
        content: "";
        width:20px;
        height:20px;
        background-image: url('../../../public/svgComponents/curvedArrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        float: left;
        margin-right: 5px;
    }
}