.course {
    margin-left: 6.5rem;
    margin-top: 0.3rem;
    
    &::before {
        content: "";
        width:20px;
        height:20px;
        background-image: url('../../../public/svgComponents/curvedArrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        float: left;
        margin-right: 5px;
    }
}

@media screen and (max-width: 363px) {
    .courseItem {
        flex-direction: column;
    }

    .course {
        margin-left: 1rem;
    }
}