.skill {
    font-weight: 700;
    display: block;

    &::before {
        content: "";
        width:25px;
        height:25px;
        background-image: url('../../../public/svgComponents/purpleArrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        float: left;
        margin-right: 10px;
    }
}