.tecnologyName {
    font-weight: bold;
    font-size: 1rem;
}

#tailwind-css-img, #postgresql-img, #node-js-img {
    background-color: #fff;
}

#react-img {
    border: 2px solid #61DAFB;
}

#nextjs-img, #wordpress-img {
    background-color: #fff;
    border: 2px solid #fff;
}

#python-img, #git-img {
    background-color: #fff;
    padding: 0.25rem;
}